
{% extends "base3.html" %}

{% block content %}
<br>
<h3>Model List</h3>
<br>
<table class="table table-light table-striped">
    <tr><th>Description</th><th>Date</th><th>Hostname</th><th>Modelpath</th><th>nr</th>
        <th></th><th></th><th></th><th></th><th></th><th></th></th></tr>
    {% for s in modellist %}  
    {% comment %} {{ s }} {% endcomment %}
    <tr>
        <td>{{ s.description }}</td>
        <td>{{ s.date|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td>{{ s.hostname }}</td>
        <td>{{ s.model_path }}</td>
        <td>{{ s.id }}</td>
        <td><button type="button" onclick="location.href='trainmodel?id={{ s.id }}'" class="btn btn-sm btn-primary">Test</button> </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}