
{% extends "base3.html" %}

{% block content %}
<br>
<h3>Simulation List</h3>
<br>
<table class="table table-light table-striped">
    <tr><th>Date</th><th>Description</th><th>Data</th><th></th><th></th>
        </tr>
    {% for s in simlist %}  
    <tr>
        <td>{{ s.date|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td>{{ s.description }}</td>
        <td>{{ s.data }}</td>
        <td><button type="button" onclick="location.href='simmodel?id={{ s.id }}'" class="btn btn-sm btn-primary">Edit</button> </td>
        <td><button type="button" onclick="location.href='simdelete?id={{ s.id }}'" class="btn btn-sm btn-danger">Delete</button> </td>
    </tr>
    {% endfor %}
</table>
<br>
<button type="button" onclick="location.href='/'" class="btn btn-primary">Back</button>
{% endblock %}
