{% extends "base3.html" %}

{% block content %}
<style>
    .btn-vlg {
        height: 200px;
        width: 200px;
        font-size: 1.8em;
        padding: 30px;
    }
</style>
<h2>RunQueue</h2>
<br><br><br><br><br><br><br><br><br>
<div class="row">
    <div class="col-md-3">
        <a href="{% url 'job' %}" class="btn btn-lg btn-vlg btn-info">New<br>Job</a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'joblist' %}" class="btn btn-lg btn-vlg btn-info">List<br>Jobs</a>
    </div>
</div>
{% endblock %}
